---
import BaseHead from "../components/BaseHead.astro";
import MyNav from "../components/MyNav.astro";
import MyContent from "../components/MyContent.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

export const prerender = true;
---

<link rel="stylesheet" href="/iconfont/iconfont.css" />

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-blue_bg">
    <div
      class="bg-no-repeat md:hidden w-full h-full bg-cover bg-center absolute z-[-1]"
      style="background-image: url('https://mp-c7d1b689-cd39-420a-83f9-733c744450c6.cdn.bspapp.com/cloudstorage/29e3c061-094b-4c5b-8555-5eb9aa189628.jpg')"
    >
    </div>
    <MyNav />
    <div class="p-6">
      <MyContent />
    </div>
  </body>
</html>
