@font-face {
  font-family: "iconfont"; /* Project id 3946934 */
  src: url('iconfont.woff2?t=1678601115472') format('woff2'),
       url('iconfont.woff?t=1678601115472') format('woff'),
       url('iconfont.ttf?t=1678601115472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cuowu:before {
  content: "\e603";
}

.icon-gengduo:before {
  content: "\e696";
}

